html, body{
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif; 
	color: #EFEFEF;
	background-color: #EF9500;
	height:100%;
	width:100%;
	margin: 0;
	line-height: 1.8;
	overflow: hidden;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	font-family: 'Raleway';
	font-weight: 100;
	font-size: 1em;
	text-transform: uppercase;

}

header a {
	position: relative;
	padding: 0.5em; 
}

header a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 5px;
	left: 0px;
	background-color: #EEE;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

header a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
}

.selected {
	position: relative;	
}

.selected:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 5px;
	background-color: #EEE;
	visibility: visible;
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

h1 {
	font-weight: 100;
}

ul {
	list-style: none;
	padding: 2em 0 2em 0; 
}

ul li {
	display: inline-block;

}

header ul li {
	padding: 0 8%;
}

footer {
	background-color: inherit;
	position: fixed;
	left: 30px;
	right: 30px;
	bottom: 0;
}

footer ul {
	padding: 0;
	margin: 0.9em 0;
}

footer ul li {
	font-family: FontAwesome;
	padding: 0 3%;
}

input, textarea {
	border: transparent;
	padding: 0.5em;
	font-family: inherit;
}

textarea {
	width: 50%;
	min-width: 30%;
	max-width: 85%;
}

.s-input-box {
	width: 26%;
	display: inline-block;
}

.s-input-box p {
	margin: 0;
}

.s-input-box input {
	width: 92%;
}

.content {
	padding-top: 3em;
	margin-bottom: 3em;
}

.page {
	float: left;
}

#about-link p {
	padding: 0 2em;
}

.work-image {
	width: 44%;
	overflow:hidden; 
	margin: 2em 0;
	display: inline-block;
	vertical-align: middle;
}

.work-image img {
	max-height: 100%;
}

.work-text {
	width: 48%;
	display: inline-block;
	vertical-align: middle;
}

.button {
	background-color: #20A789;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	width: 12em;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.button a{
	padding: 0.8em;
	display: block;
}


.button:hover {
	background-color: #009A78;
}

form div {
	margin-top: 1em;
}

.form-button {
	background-color: #20A789;
	border: transparent;
	color: inherit;
	padding: 1em;
	margin: 1em 1em 4em 1em;
	font-family: inherit;
	font-size: inherit;
	width: 12em;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.form-button:hover {
	background-color: #009A78;
	cursor: pointer;
}

.left {
	float: left;
	margin-left: 3em;
}

.right {
	float: right;
	margin-right: 3em;
}

.clearfix {
	display: inline-block;
}

.clearfix:after { 
	content: "";
	clear: both; 
}


@media screen and (max-width: 580px), screen and (max-device-width: 580px) {
	html, body {
		overflow-y: initial;
	}
	header ul li {
		display: list-item;
	}
	.work-image {
		width: 90%;
		display: block;
		margin: auto;
	}

	.work-text {
		width: 90%;
		display: block;
		margin: auto;
	}

	input[type=text], textarea {
	width: 85%;
	max-width: 85%;
	}

	.s-input-box {
	display: block;
	width:100%;
	}

}

@media screen and (max-height: 860px), screen and (max-device-height: 860px) {
	html, body {
		overflow-y: initial;
	}

	footer {
		position: static;
	}
}